.mdl-card__supporting-text {
	width:100%;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.mdl-card__title-text {
	font-size: 36px;
	padding-left: 20px;
}


.padding-for-form{
	padding: 20px;
}
.upload-a-file {
    -webkit-box-shadow: none;
    box-shadow: none;
	border: 1px solid #ECECEC;
}


.google-link{
	display: block;
    width: 300px;
}
.google-link img{
	    width: 100%;
}
.p-outer-padding{
	padding: 0;
	
}

.p-outer-padding summary{
	font-size: 14px;
	padding-left: 10px;
	cursor:pointer;
	color:#337ab7;
	margin-bottom: 10px;
}

.p-outer-padding p{
	padding-left:10px;
	padding-right:10px;
	
}
.p-outer-padding .header__block-item{
	max-width: 100%;
}


.p-outer-padding .header__title {
    display:  -webkit flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
	display: flex;
    align-items: center;
    justify-content: center;
}
.container-header{  
	padding: 0;
}
.container-inner-my {
	padding-right: 15px;
    padding-left: 15px;
	padding-top: 30px;
	padding-bottom: 30px; 
	
}
.container-inner-my p {
	font-size:18px;
}

.container-inner-my li {
	display: block;
	color: #757575;
	position:relative;
}
.container-inner-my li:before{
	content:"✔";
	display:block;
	position:absolute;
	height:10px;
	width:10px;
	font-size:18px;
	top:0px;
	left:-15px;
}

.container-margin-bottom{
	margin-bottom:30px;
}


.p-outer-padding .header__item {
	-webkit-flex: 1; 
	-ms-flex: 1; 
	flex: 1;
}
    

.p-outer-padding .header__img {
	margin: 0 auto;
    display: block;
}	
	
	
.p-outer-padding .header__title {
	min-height:118px;
	vertical-align:middle;
}	
	
.container-empty-my{
	background:none;
	box-shadow:none;
}

.container-center-my{
	margin: 0 auto;
}

.form-my {
	padding: 0px;
	
}

.flex-container {
	/*генерирует flex-контейнер уровня блока*/
	display: -webkit-flex; 
	display: flex; 
}

.flex-item {
	-webkit-flex: 1; 
	-ms-flex: 1; 
	flex: 1;
}

.flex-item2 {
	-webkit-flex: 2; 
	-ms-flex: 2; 
	flex: 2;
}

.flex-item3 {
	-webkit-flex: 3; 
	-ms-flex: 3; 
	flex: 3;
}

.lockfield{
	position: relative;
}
.form-my .pwm-field-icon{
	top: 5px;
    right: 23px;
}
.form-my .form__button{
	text-align: center;
}

.form-my select{
	width: calc(100% - 15px);
	margin-left: 0;
	margin-right: 15px;
	font-size: 16px;
}
.form-my label{
	padding-left: 0;
}
.form-my label:first-child{
	margin-top: 10px;
}

.button-signup {
	width: 30%;
    display: block;
    margin: 20px auto 0;
}


.longpassword{
	box-sizing: border-box;
	width: calc(100% - 10px);
}
.align-center-my{
	-webkit-align-items: center;
	align-items: center;
	
}
.align-center-my input {
	margin-bottom: 0;
}

.line-margin-my{
	margin-top: 30px;
}

.line-button-margin-my{
	margin-top: 20px;
}

.form__title{
	padding-left: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}

.form-outer{
	padding: 15px;
	border: 1px solid #ECECEC;
}

.form-tabs-item{
	font-size: 20px;
	padding: 20px;
	margin-top: 20px;
	text-transform: uppercase;
    text-align: center;
	border: 1px solid #ECECEC;
	background-color: #ECECEC;
	color: #716e6e;
	cursor: pointer;
	
}


.tab-active, .form-tabs-item:hover{
	background-color: #fff;
	color: #757575;
}
.upload-photo-style{
	
}


.nodisplay {
	display: none!important;
}

#file {
	display:none;
}

.label-upload{
	display:block;
	font-size: 20px;
	padding: 20px;
	text-transform: uppercase;
    text-align: center;
	background-color: #ECECEC;
	cursor: pointer;
	color: #757575;
	font-weight: 400;
	border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
}

#fl_nm {
	display:block;
	padding:20px;
	font-size:20px;
}

.form__button{
	font-size:20px;
	padding:20px;
}


.mdl-topbet{
	padding-left: 10px;
	padding-bottom: 15px
}

.google-link-inside img{
	max-width: calc(100% + 20px);
    margin-top: -15px;
    margin-left: -10px;
	
}

.install-app-link{
	padding-left: 10px;
}

.left10px{
	padding-left: 10px;
}

.top10px{
	padding-top: 10px;
}
.right10px{
	padding-right: 10px;
}

.bottom20px{
	padding-bottom: 20px;
}

details summary{
	cursor: pointer;
	padding-left:10px;
}

.height-inner-page{
	min-height:84px;
	display:  -webkit flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
	display: flex;
    align-items: center;
    justify-content: center;
}

input.reg::placeholder{
	color: rgba(0,0,0,.26);
}

.display-block-class{
	display:block;
}

#auctiontime {
	display:block;
	width:100%;
	box-sizing: border-box;
	font-size: 16px;
	padding: 15px;
	
}
.add-button-class{
	font-size: 20px;
    padding: 15px;
	display:block;
	width:100%;
	box-sizing: border-box;
	height:auto;
	
}


@media (max-width: 1040px) {

.mobile1040{
	display:block;
}

.form-my input{
	width: 100%;
	margin-right: 0;
	margin-bottom: 20px;
}
.form-my select{
	width: 100%;
	margin-right: 0;
}
.form-my .mobile-margin-select{
	margin-right: 15px;
}

.form-my .form__button {
	width: 100%;
	
}
.line-margin-my {
	margin-top:0px;
}

.p-outer-padding p{
	text-align: left;
}

}